<footer class="w-full border-primary border-2 flex">
    <span>
        © 2024 La Velada del Año <span aria-hidden class="hidden md:inline">|</span>
        <br aira-hidden class="block md:hidden"> Todos los derechos reservados
    </span>
    <ul>
        <li>
            <a href="https://wwww.instagram.com/" target="_blank" rel="noopener">
                <img src="./ig.svg" alt="Logo de Instragram"/>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" rel="noopener">
                <img src="./x.svg" alt="Logo de Twitter"/>
            </a>
        </li>
    </ul>
</footer>